.container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--blue-color);
    transition: all ease-out .3s;
    background-color: transparent;
}
.container svg {
    font-size: 50px;
    color: #fff;
}
.container:hover {
    background-color: #29284a;
}
